[Desktop Entry]
Categories=Utility;X-Red-Hat-Base;
Name=<Program>
Comment=<Program>
Icon=<Binary>.xpm
Exec=<Binary>
Type=Application
Terminal=0
MapNotify=true
