*.o
*.a
*.so
*.lo
*.la
*.jst
*.jup
*Y.hpp
libj*/Makefile
*/test/Makefile
programs/*/code/*StringData.h
programs/*/Makefile
programs/*/strings/*_menu_strings
programs/*/ChangeLog.php
Mesa
misc/Mesa.tgz
