*.o
*.a
*.so
*.lo
*.la
*.dll
*.exe
*.jst
*.jup
*Y.hpp
*.bak
libj*/Makefile
*/test/Makefile
*/testui/Makefile
Mesa
misc/Mesa.tgz
misc/aspell*
doc/api

programs/*/code/*StringData.h
programs/*/Makefile
programs/*/strings/*_menu_strings
programs/*/ChangeLog.html

tools/*/code/*StringData.h
tools/*/Makefile
tools/*/strings/*_menu_strings
tools/*/ChangeLog.html

obsolete/*/code/*StringData.h
obsolete/*/Makefile
obsolete/*/strings/*_menu_strings
obsolete/*/ChangeLog.html

!lib/*.a
!lib/*.so

libj*/test/test_*
!libj*/test/test_*.cpp
!libj*/test/test_*.txt
