*.o
*.a
*.so
*.lo
*.la
*.dll
*.exe
*.jst
*.jup
*Y.hpp
libj*/Makefile
*/test/Makefile
programs/*/code/*StringData.h
programs/*/Makefile
programs/*/strings/*_menu_strings
programs/*/ChangeLog.html
obsolete/*/code/*StringData.h
obsolete/*/Makefile
obsolete/*/strings/*_menu_strings
obsolete/*/ChangeLog.html
Mesa
misc/Mesa.tgz
misc/aspell*

!lib/*.a
!lib/*.so
