#ifndef _T_JListIterator
#define _T_JListIterator

/******************************************************************************
 JListIterator.tmpl

						The List Iterator Class

	An iterator provides an efficient, error-resistant way to loop through
	the elements of an JList:

		JList<MyData>* myList = jnew JList<MyData>;
		...
		JListIterator<MyData> iterator(myList, kJIteratorStartAtBeginning);
		MyData                item;

		while(iterator.Next(&item))
		{
			<do something with the item>
		}

	An iterator is robust in the face of insertions and deletions to
	the JList it is working on:

	Each iterator has a current position called a "cursor". The cursor
	is always positioned at the start of the JList, at the end of the
	JList, or *between* two JList items. The cursor position is an
	ordinal from 0 to n, where n is the number of elements in the JList.
	The relationship of the cursor position to the JList index is
	illustrated below:

				+-----+-----+-----+-----+-----+-----+
		index	|  1  |  2  |  3  |  4  |  5  |  6  |
				+-----+-----+-----+-----+-----+-----+
		cursor	0     1     2     3     4     5     6

	Position lets you specify an initial (or changed) cursor position.
	kJIteratorStartBefore puts the cursor just before the specified item
	(so Next() will fetch the item) while kJIteratorStartAfter puts it just after
	(so Prev() will fetch the item).

	The operations Next() and Prev() fetch the item just after or the
	item just before the cursor, respectively, then increment or
	decrement the cursor. So a sequence of Next() calls will advance
	forward through an JList, while a sequence of Prev() calls will go
	backwards through the JList. You can change direction at any time.

	If the cursor is positioned at the number of items in the JList and
	you call Next(), it will return FALSE. Likewise if the cursor is zero
	and you call Prev().

	If the JList is deleted while the cursor is active, all further
	calls to Next() or Prev() will return FALSE and the cursor position
	will be fixed at 0.

	Implementation notes:

	An iterator is easily written as a JBroadcaster so the JList
	can notify the iterator when changes occur or when it is deleted.
	Unfortunately, this has the major drawback of creating two
	JBroadcasterLists each time an iterator is constructed.
	This is especially painful when iterators are used within
	~JBroadcaster, because deleting memory should *never* allocate memory.

	Alternatively, since each iterator is used by exactly one
	JList, we can construct a linked list of iterators headed
	in the JList. In order not to transfer the overhead of managing
	this list into JList, the iterators manage the list.
	Thus the iterator must be a friend of the JList.  This is
	acceptable because the iterator can't exist without the JList.

	Copyright (C) 1994-2018 by John Lindal.

 ******************************************************************************/

#include "JListIterator.h"
#include "JList.h"
#include "jAssert.h"

/******************************************************************************
 Constructor

 ******************************************************************************/

template <class T>
JListIterator<T>::JListIterator
	(
	const JList<T>&			theList,
	const JListT::Position	start,
	const JIndex			index
	)
{
	itsConstList = &theList;
	itsList      = nullptr;

	JListIteratorX(start, index);
}

template <class T>
JListIterator<T>::JListIterator
	(
	JList<T>*				theList,
	const JListT::Position	start,
	const JIndex			index
	)
{
	itsConstList = theList;
	itsList      = theList;

	JListIteratorX(start, index);
}

// private

template <class T>
void
JListIterator<T>::JListIteratorX
	(
	const JListT::Position	start,
	const JIndex			index
	)
{
	itsNextIterator = nullptr;
	AddToIteratorList();

	MoveTo(start, index);
}

/******************************************************************************
 Copy constructor (protected)

 ******************************************************************************/

template <class T>
JListIterator<T>::JListIterator
	(
	const JListIterator<T>& source
	)
{
	itsConstList      = source.itsConstList;
	itsList           = source.itsList;
	itsCursorPosition = source.itsCursorPosition;
	itsNextIterator   = nullptr;

	AddToIteratorList();
}

/******************************************************************************
 Destructor

 ******************************************************************************/

template <class T>
JListIterator<T>::~JListIterator()
{
	RemoveFromIteratorList();
}

/******************************************************************************
 GetPrevItemIndex

	asserts that there is a previous element

 ******************************************************************************/

template <class T>
JIndex
JListIterator<T>::GetPrevItemIndex()
	const
{
	assert( !this->AtBeginning() );
	return itsCursorPosition;
}

/******************************************************************************
 GetNextItemIndex

	asserts that there is a next element

 ******************************************************************************/

template <class T>
JIndex
JListIterator<T>::GetNextItemIndex()
	const
{
	assert( !this->AtEnd() );
	return itsCursorPosition + 1;
}

/******************************************************************************
 GetPrevItemIndex

	Returns true if there is a previous element.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::GetPrevItemIndex
	(
	JIndex* i
	)
	const
{
	if (this->AtBeginning())
	{
		*i = 0;
		return false;
	}

	*i = itsCursorPosition;
	return true;
}

/******************************************************************************
 GetNextItemIndex

	Returns true if there is a next element.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::GetNextItemIndex
	(
	JIndex* i
	)
	const
{
	if (this->AtEnd())
	{
		*i = 0;
		return false;
	}

	*i = itsCursorPosition + 1;
	return true;
}

/******************************************************************************
 MoveTo (virtual)

 ******************************************************************************/

template <class T>
void
JListIterator<T>::MoveTo
	(
	const JListT::Position	newPosition,
	const JIndex			index
	)
{
	if (itsConstList == nullptr)
	{
		return;
	}

	if (newPosition == JListT::kStartAtBeginning)
	{
		itsCursorPosition = 0;
	}
	else if (newPosition == JListT::kStartAtEnd)
	{
		itsCursorPosition = itsConstList->GetItemCount();
	}
	else if (newPosition == JListT::kStartBefore)
	{
		assert( (itsConstList->IsEmpty() && index == 1) ||
				index == itsConstList->GetItemCount()+1 ||
				itsConstList->IndexValid(index));

		itsCursorPosition = index-1;
	}
	else
	{
		assert( newPosition == JListT::kStartAfter );
		assert( itsConstList->IndexValid(index) );

		itsCursorPosition = index;
	}
}

/******************************************************************************
 AtBeginning

	Return true if iterator is positioned at the beginning of the list
	or if the list has been deleted.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::AtBeginning()
	const
{
	return itsConstList == nullptr || itsCursorPosition == 0;
}

/******************************************************************************
 AtEnd

	Return true if iterator is positioned at the end of the list
	or if the list has been deleted.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::AtEnd()
	const
{
	return itsConstList == nullptr ||
							  itsCursorPosition >= itsConstList->GetItemCount();
}

/******************************************************************************
 GetList

	Return the current list for this iterator.

 ******************************************************************************/

template <class T>
const JList<T>*
JListIterator<T>::GetList()
	const
{
	return itsConstList;
}

template <class T>
bool
JListIterator<T>::GetList
	(
	JList<T>** obj
	)
	const
{
	*obj = itsList;
	return itsList != nullptr;
}

/******************************************************************************
 GetCursor (protected)

	Return the current cursor position.

 ******************************************************************************/

template <class T>
JCursorPosition
JListIterator<T>::GetCursor()
	const
{
	return itsCursorPosition;
}

/******************************************************************************
 SetCursor (protected)

	Set the current cursor position.

 ******************************************************************************/

template <class T>
void
JListIterator<T>::SetCursor
	(
	const JCursorPosition pos
	)
{
	itsCursorPosition = pos;
}

/******************************************************************************
 Prev

	Returns true if there is a previous item that matches, fetching the
	item in the list and adjusting the iterator position to before the
	item.  Otherwise returns false, and the position will be at the
	beginning of the list.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::Prev
	(
	std::function<bool(const T&)> match,

	T* data
	)
{
	while (Prev(data))
	{
		if (match(*data))
		{
			return true;
		}
	}

	return false;
}

/******************************************************************************
 Next

	Returns true if there is a next item that matches, fetching the item
	in the list and adjusting the iterator position to after the item.
	Otherwise returns false, and the position will be at the end of the
	list.

 ******************************************************************************/

template <class T>
bool
JListIterator<T>::Next
	(
	std::function<bool(const T&)> match,

	T* data
	)
{
	while (Next(data))
	{
		if (match(*data))
		{
			return true;
		}
	}

	return false;
}

/******************************************************************************
 AddToIteratorList (private)

	Add this iterator at the front of the active iterator list.

 ******************************************************************************/

template <class T>
void
JListIterator<T>::AddToIteratorList()
{
	if (itsConstList != nullptr)
	{
		JList<T>* list         = const_cast<JList<T>*>(itsConstList);
		itsNextIterator        = list->itsFirstIterator;
		list->itsFirstIterator = this;
	}
}

/******************************************************************************
 RemoveFromIteratorList (private)

	Remove this iterator from the active iterator list.

 ******************************************************************************/

template <class T>
void
JListIterator<T>::RemoveFromIteratorList()
{
	if (itsConstList == nullptr)
	{
		return;
	}

	JListIterator<T>* firstIterator = itsConstList->itsFirstIterator;

	if (firstIterator == this)
	{
		const_cast<JList<T>*>(itsConstList)->itsFirstIterator = itsNextIterator;
	}
	else
	{
		JListIterator<T>* prevIterator = firstIterator;
		JListIterator<T>* currIterator = firstIterator->itsNextIterator;

		while (currIterator != nullptr)
		{
			if (currIterator == this)
			{
				prevIterator->itsNextIterator = itsNextIterator;
				break;
			}

			prevIterator = currIterator;
			currIterator = currIterator->itsNextIterator;
		}
	}
}

/******************************************************************************
 ListChanged (virtual protected)

	Respond to changes in itsConstList and recursively tell the next
	iterator in the list to do the same.  Assuming that only a handful of
	iterators are ever in a list, recursion should be safe.

 ******************************************************************************/

template <class T>
void
JListIterator<T>::ListChanged
	(
	const JBroadcaster::Message& message
	)
{
	if (message.Is(JListT::kItemsInserted))
	{
		const JListT::ItemsInserted* info =
			dynamic_cast<const JListT::ItemsInserted*>(&message);
		assert( info != nullptr );
		if (itsCursorPosition >= info->GetFirstIndex())
		{
			itsCursorPosition += info->GetCount();
		}
	}
	else if (message.Is(JListT::kItemsRemoved))
	{
		const JListT::ItemsRemoved* info =
			dynamic_cast<const JListT::ItemsRemoved*>(&message);
		assert( info != nullptr );
		if (itsCursorPosition > info->GetLastIndex())
		{
			itsCursorPosition -= info->GetCount();
		}
		else if (itsCursorPosition >= info->GetFirstIndex())
		{
			itsCursorPosition = info->GetFirstIndex()-1;
		}
	}
	else if (message.Is(JListT::kCopied))
	{
		itsCursorPosition = 0;
	}
	else if (message.Is(JListT::kGoingAway))
	{
		itsConstList      = nullptr;
		itsList           = nullptr;
		itsCursorPosition = 0;
	}

	if (itsNextIterator != nullptr)
	{
		itsNextIterator->ListChanged(message);
	}
}

/******************************************************************************
 Range-based for loop

 ******************************************************************************/

#pragma GCC diagnostic push
#if defined __GNUG__ && ! defined __clang__
#pragma GCC diagnostic ignored "-Wmaybe-uninitialized"
#endif

template <class T>
T
JListIterator<T>::operator*()
	const
{
	JListIterator<T>* self = const_cast<JListIterator<T>*>(this);	// conceptual constness

	T v;
	const bool ok = self->Next(&v);
	assert( ok );
	self->SkipPrev();		// back to original position
	return v;
}

#pragma GCC diagnostic pop

template <class T>
JListIterator<T>&
JListIterator<T>::operator++()
{
	SkipNext();
	return *this;
}

template <class T>
bool
JListIterator<T>::operator==
	(
	const JListIterator<T>& iter
	)
	const
{
	return itsCursorPosition == iter.itsCursorPosition;
}

#endif
