#ifndef _T_JMinMax
#define _T_JMinMax

/******************************************************************************
 JMinMax.tmpl

	Templates for JMin and JMax

	Copyright (C) 1994-99 by John Lindal.

 ******************************************************************************/

template <class T>
T
JMin
	(
	const T v1,
	const T v2
	)
{
	return (v1 <= v2) ? v1 : v2;
}

template <class T, typename... Args>
T
JMin
	(
	const T v1,
	const T v2,
	Args... more
	)
{
	const T v3 = JMin(v2, more...);
	return (v1 <= v3) ? v1 : v3;
}

template <class T>
T
JMax
	(
	const T v1,
	const T v2
	)
{
	return (v1 >= v2) ? v1 : v2;
}

template <class T, typename... Args>
T
JMax
	(
	const T v1,
	const T v2,
	Args... more
	)
{
	const T v3 = JMax(v2, more...);
	return (v1 >= v3) ? v1 : v3;
}

template <class T>
T
JLimit
	(
	const T min,
	const T v,
	const T max
	)
{
	if (v <= min)
	{
		return min;
	}
	else if (v >= max)
	{
		return max;
	}
	else
	{
		return v;
	}
}

#endif
