#ifndef _T_JMinMax
#define _T_JMinMax

/******************************************************************************
 JMinMax.tmpl

	Templates for JMin and JMax

	Copyright (C) 1994-99 by John Lindal.

 ******************************************************************************/

template <class T>
T
JMin
	(
	const T v1,
	const T v2
	)
{
	return (v1 <= v2) ? v1 : v2;
}

#if __GNUG__ < 4
template <class T>
T JMin(const T v1, const T v2, const T v3, const T v4, const T v5)
{
	return JMin(JMin(JMin(v1,v2),JMin(v3,v4)),v5);
}
#else
template <class T, typename... Args>
T
JMin
	(
	const T v1,
	const T v2,
	Args... more
	)
{
	const T v3 = JMin(v2, more...);
	return (v1 <= v3) ? v1 : v3;
}
#endif

template <class T>
T
JMax
	(
	const T v1,
	const T v2
	)
{
	return (v1 >= v2) ? v1 : v2;
}

#if __GNUG__ < 4
#else
template <class T, typename... Args>
T
JMax
	(
	const T v1,
	const T v2,
	Args... more
	)
{
	const T v3 = JMax(v2, more...);
	return (v1 >= v3) ? v1 : v3;
}
#endif

template <class T>
T
JLimit
	(
	const T min,
	const T v,
	const T max
	)
{
	if (v <= min)
		{
		return min;
		}
	else if (v >= max)
		{
		return max;
		}
	else
		{
		return v;
		}
}

#endif
