#ifndef _T_JRunArrayIterator
#define _T_JRunArrayIterator

/******************************************************************************
 JRunArrayIterator.tmpl

	Efficient interation for JRunArray objects.

				+-----+-----+-----+*****+*****+-----+-----+
		index	|  1  |  2  |  3  |  4  |  5  |  6  |  7  |
				+-----+-----+-----+*****+*****+-----+-----+
		run	    1     1     1     2     2     3     3     4
		inRun	0     1     2     0     1     0     1     0

	Copyright (C) 1996-2018 by John Lindal.

 ******************************************************************************/

#include "JRunArrayIterator.h"
#include "JRunArray.h"
#include "jAssert.h"

/******************************************************************************
 Constructor

 ******************************************************************************/

template <class T>
JRunArrayIterator<T>::JRunArrayIterator
	(
	const JRunArray<T>&		theRunArray,
	const JListT::Position	start,
	const JIndex			index
	)
	:
	JListIterator<T>(theRunArray, start, index),
	itsIgnoreListChangedFlag(false)
{
	itsRunArray    = const_cast<JRunArray<T>*>(&theRunArray);
	itsRunIndex    = 1;
	itsOffsetInRun = 0;

	// initialize instance variables -- our override not called by base class

	PrivateMoveTo(0, start, index, true);
}

template <class T>
JRunArrayIterator<T>::JRunArrayIterator
	(
	JRunArray<T>*			theRunArray,
	const JListT::Position	start,
	const JIndex			index
	)
	:
	JListIterator<T>(theRunArray, start, index),
	itsIgnoreListChangedFlag(false)
{
	itsRunArray    = const_cast<JRunArray<T>*>(theRunArray);
	itsRunIndex    = 1;
	itsOffsetInRun = 0;

	// initialize instance variables -- our override not called by base class

	PrivateMoveTo(0, start, index, true);
}

/******************************************************************************
 Copy constructor

 ******************************************************************************/

template <class T>
JRunArrayIterator<T>::JRunArrayIterator
	(
	const JRunArrayIterator<T>& source
	)
	:
	JListIterator<T>(source),
	itsIgnoreListChangedFlag(false)
{
	itsRunArray    = source.itsRunArray;
	itsRunIndex    = source.itsRunIndex;
	itsOffsetInRun = source.itsOffsetInRun;
}

/******************************************************************************
 Destructor

 ******************************************************************************/

template <class T>
JRunArrayIterator<T>::~JRunArrayIterator()
{
}

/******************************************************************************
 AtFirstRun

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::AtFirstRun()
	const
{
	return itsRunIndex == 1;
}

/******************************************************************************
 AtLastRun

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::AtLastRun()
	const
{
	return itsRunIndex >= itsRunArray->GetRunCount();
}

/******************************************************************************
 PrevRun

	If there is a previous run, moves the iterator position to the start of
	that run and returns TRUE.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::PrevRun()
{
	if (itsRunArray == nullptr)
	{
		return false;
	}
	else if (itsRunIndex <= 2)
	{
		MoveTo(JListT::kStartAtBeginning, 0);
		return false;
	}
	else
	{
		MoveTo(JListT::kStartAfter,
			this->GetCursor() - itsOffsetInRun - itsRunArray->GetRunLength(itsRunIndex-1));

		return true;
	}
}

/******************************************************************************
 NextRun

	If there is a next run, moves the iterator position to the start of
	that run and returns TRUE.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::NextRun()
{
	if (itsRunArray == nullptr)
	{
		return false;
	}
	else if (itsRunIndex >= itsRunArray->GetRunCount())
	{
		MoveTo(JListT::kStartAtEnd, 0);
		return false;
	}
	else
	{
		MoveTo(JListT::kStartAfter,
			this->GetCursor() - itsOffsetInRun + itsRunArray->GetRunLength(itsRunIndex));

		return true;
	}
}

/******************************************************************************
 GetRunStart

 ******************************************************************************/

template <class T>
JIndex
JRunArrayIterator<T>::GetRunStart()
	const
{
	return this->GetCursor() + 1 - itsOffsetInRun;
}

/******************************************************************************
 GetRunEnd

 ******************************************************************************/

template <class T>
JIndex
JRunArrayIterator<T>::GetRunEnd()
	const
{
	return this->GetCursor() - itsOffsetInRun + itsRunArray->GetRunLength(itsRunIndex);
}

/******************************************************************************
 GetRunLength

 ******************************************************************************/

template <class T>
JSize
JRunArrayIterator<T>::GetRunLength()
	const
{
	return itsRunArray->GetRunLength(itsRunIndex);
}

/******************************************************************************
 GetRemainingInRun

 ******************************************************************************/

template <class T>
JSize
JRunArrayIterator<T>::GetRemainingInRun()
	const
{
	return itsRunArray->GetRunLength(itsRunIndex) - itsOffsetInRun;
}

/******************************************************************************
 GetRunData

 ******************************************************************************/

template <class T>
T
JRunArrayIterator<T>::GetRunData()
	const
{
	return itsRunArray->GetRunData(itsRunIndex);
}

/******************************************************************************
 Prev (virtual)

	Return TRUE if there is a previous item, fetching the previous
	item in the list and decrementing the iterator position.
	Otherwise return FALSE without fetching or decrementing.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::Prev
	(
	T*						item,
	const JListT::Action	move
	)
{
	if (itsRunArray == nullptr || this->AtBeginning())
	{
		return false;
	}

	JIndex runIndex = itsRunIndex,
		   offset   = itsOffsetInRun;

	if (offset == 0)
	{
		runIndex--;
		offset = itsRunArray->GetRunLength(runIndex) - 1;
	}
	else
	{
		offset--;
	}

	*item = itsRunArray->GetRunData(runIndex);

	if (move)
	{
		itsRunIndex    = runIndex;
		itsOffsetInRun = offset;
		this->SetCursor(this->GetCursor()-1);
	}
	return true;
}

/******************************************************************************
 Next (virtual)

	Return TRUE if there is a next item, fetching the next
	item in the list and decrementing the iterator position.
	Otherwise return FALSE without fetching or decrementing.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::Next
	(
	T*						item,
	const JListT::Action	move
	)
{
	if (itsRunArray == nullptr || this->AtEnd())
	{
		return false;
	}

	*item = itsRunArray->GetRunData(itsRunIndex);

	if (move)
	{
		if (itsOffsetInRun >= itsRunArray->GetRunLength(itsRunIndex)-1)
		{
			itsRunIndex++;
			itsOffsetInRun = 0;
		}
		else
		{
			itsOffsetInRun++;
		}

		this->SetCursor(this->GetCursor()+1);
	}
	return true;
}

/******************************************************************************
 SkipPrev (virtual)

 ******************************************************************************/

template <class T>
void
JRunArrayIterator<T>::SkipPrev
	(
	const JSize count
	)
{
	JCursorPosition cursorPos = this->GetCursor();
	if (itsRunArray != nullptr)
	{
		JSize remaining = count;
		while (remaining > 0 && cursorPos > 0)
		{
			if (itsOffsetInRun == 0)
			{
				itsRunIndex--;
				itsOffsetInRun = itsRunArray->GetRunLength(itsRunIndex);
			}

			if (itsOffsetInRun >= remaining)
			{
				itsOffsetInRun -= remaining;
				cursorPos      -= remaining;
				break;
			}
			else
			{
				remaining     -= itsOffsetInRun;
				cursorPos     -= itsOffsetInRun;
				itsOffsetInRun = 0;
			}
		}

		this->SetCursor(cursorPos);
	}
}

/******************************************************************************
 SkipNext (virtual)

 ******************************************************************************/

template <class T>
void
JRunArrayIterator<T>::SkipNext
	(
	const JSize count
	)
{
	JCursorPosition cursorPos = this->GetCursor();
	if (itsRunArray != nullptr)
	{
		const JSize maxPos = itsRunArray->GetItemCount();

		JSize remaining = count;
		while (remaining > 0 && cursorPos < maxPos)
		{
			const JSize rightCount =
				itsRunArray->GetRunLength(itsRunIndex) - itsOffsetInRun;

			if (remaining < rightCount)
			{
				itsOffsetInRun += remaining;
				cursorPos      += remaining;
				break;
			}
			else
			{
				remaining -= rightCount;
				cursorPos += rightCount;
				itsRunIndex++;
				itsOffsetInRun = 0;
			}
		}

		this->SetCursor(cursorPos);
	}
}

/******************************************************************************
 SetPrev (virtual)

	Returns true if we have a non-const JRunArray<T>* and
	there is a previous item.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::SetPrev
	(
	const T&				data,
	const JListT::Action	move
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj) || this->AtBeginning())
	{
		return false;
	}

	SkipPrev();
	SetNext(data, move ? JListT::kStay : JListT::kMove);
	return true;
}

/******************************************************************************
 SetNext (virtual)

	Returns true if we have a non-const JRunArray<T>* and
	there is a next item.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::SetNext
	(
	const T&				data,
	const JListT::Action	move
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj) || this->AtEnd())
	{
		return false;
	}

	const JIndex itemIndex = this->GetCursor() + 1;
	JIndex firstInRun      = itemIndex - itsOffsetInRun;

	itsIgnoreListChangedFlag = true;
	itsRunArray->IteratorSetItems(itemIndex, data, 1, &itsRunIndex, &firstInRun);
	itsIgnoreListChangedFlag = false;

	itsOffsetInRun = itemIndex - firstInRun;

	if (move)
	{
		SkipNext();
	}
	return true;
}

/******************************************************************************
 SetPrev

	Returns true if we have a non-const JRunArray<T>* and
	there are previous items.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::SetPrev
	(
	const T&				data,
	const JSize				count,
	const JListT::Action	move
	)
{
	assert( count > 0 );

	JList<T>* obj;
	if (!this->GetList(&obj) || this->GetCursor() < count)
	{
		return false;
	}

	SkipPrev(count);
	SetNext(data, count, move ? JListT::kStay : JListT::kMove);
	return true;
}

/******************************************************************************
 SetNext

	Returns true if we have a non-const JRunArray<T>* and
	there are next items.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::SetNext
	(
	const T&				data,
	const JSize				count,
	const JListT::Action	move
	)
{
	assert( count > 0 );

	JList<T>* obj;
	if (!this->GetList(&obj) || itsRunArray->GetItemCount() - this->GetCursor() < count)
	{
		return false;
	}

	const JIndex itemIndex = this->GetCursor() + 1;
	JIndex runIndex        = itsRunIndex;
	JIndex firstInRun      = itemIndex - itsOffsetInRun;

	const bool wasAtBeginning = this->AtBeginning();
	if (!wasAtBeginning)
	{
		SkipPrev();
	}

	itsIgnoreListChangedFlag = true;
	itsRunArray->IteratorSetItems(itemIndex, data, count, &runIndex, &firstInRun);
	itsIgnoreListChangedFlag = false;

	if (!wasAtBeginning)
	{
		SkipNext();
	}

	if (move)
	{
		SkipNext(count);
	}
	return true;
}

/******************************************************************************
 RemovePrev (virtual)

	Returns true if we have a non-const JRunArray<T>* and
	there is a previous item.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::RemovePrev
	(
	const JSize count
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj) || this->AtBeginning())
	{
		return false;
	}

	const JSize lastIndex = this->GetCursor();
	SkipPrev(count);
	RemoveNext(lastIndex - this->GetCursor());
	return true;
}

/******************************************************************************
 RemoveNext (virtual)

	Returns true if we have a non-const JRunArray<T>* and
	there is a next item.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::RemoveNext
	(
	const JSize count
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj) || this->AtEnd())
	{
		return false;
	}

	const JIndex itemIndex = this->GetCursor() + 1;
	JIndex firstInRun      = itemIndex - itsOffsetInRun;

	itsIgnoreListChangedFlag = true;
	itsRunArray->IteratorRemoveItems(itemIndex, count, &itsRunIndex, &firstInRun);
	itsIgnoreListChangedFlag = false;

	itsOffsetInRun = itemIndex - firstInRun;
	return true;
}

/******************************************************************************
 Insert

	Returns true if we have a non-const JRunArray<T>*.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::Insert
	(
	const T& data
	)
{
	return Insert(data, 1);
}

template <class T>
bool
JRunArrayIterator<T>::Insert
	(
	const T&	data,
	const JSize	count
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj))
	{
		return false;
	}

	if (this->AtBeginning())
	{
		itsRunArray->PrependItems(data, count);
	}
	else
	{
		const JIndex itemIndex = this->GetCursor() + 1;
		JIndex runIndex        = itsRunIndex;
		JIndex firstInRun      = itemIndex - itsOffsetInRun;

		const bool wasAtBeginning = this->AtBeginning();
		SkipPrev();

		itsIgnoreListChangedFlag = true;
		itsRunArray->IteratorInsertItemsAtIndex(itemIndex, data, count, &runIndex, &firstInRun);
		itsIgnoreListChangedFlag = false;

		if (!wasAtBeginning)
		{
			SkipNext();
		}
	}
	return true;
}

/******************************************************************************
 InsertSlice

	Returns true if we have a non-const JRunArray<T>*.

 ******************************************************************************/

template <class T>
bool
JRunArrayIterator<T>::InsertSlice
	(
	const JRunArray<T>&	source,
	const JIndexRange&	range
	)
{
	JList<T>* obj;
	if (!this->GetList(&obj))
	{
		return false;
	}

	if (this->AtBeginning())
	{
		JIndex runIndex = 1, firstInRun = 1;

		itsIgnoreListChangedFlag = true;
		itsRunArray->IteratorInsertSlice(1, source, range, &runIndex, &firstInRun);
		itsIgnoreListChangedFlag = false;
	}
	else
	{
		const JIndex itemIndex = this->GetCursor() + 1;
		JIndex runIndex        = itsRunIndex;
		JIndex firstInRun      = itemIndex - itsOffsetInRun;

		const bool wasAtBeginning = this->AtBeginning();
		SkipPrev();

		itsIgnoreListChangedFlag = true;
		itsRunArray->IteratorInsertSlice(itemIndex, source, range, &runIndex, &firstInRun);
		itsIgnoreListChangedFlag = false;

		if (!wasAtBeginning)
		{
			SkipNext();
		}
	}

	return true;
}

/******************************************************************************
 MoveTo (virtual)

	Reset the iterator position to one of:
		kJIteratorStartAtBeginning, kJIteratorStartAtEnd,
		IteratorStartBefore(index), or IteratorStartAfter(index)

 ******************************************************************************/

template <class T>
void
JRunArrayIterator<T>::MoveTo
	(
	const JListT::Position	newPosition,
	const JIndex			index
	)
{
	const JCursorPosition origPosition = this->GetCursor();
	const bool wasAtLimit              = this->AtBeginning() || this->AtEnd();

	JListIterator<T>::MoveTo(newPosition, index);

	const JCursorPosition cursorPosition = this->GetCursor();
	if (itsRunArray != nullptr && cursorPosition != origPosition)
	{
		PrivateMoveTo(origPosition, newPosition, index, wasAtLimit);
	}
}

template <class T>
void
JRunArrayIterator<T>::PrivateMoveTo
	(
	const JCursorPosition	origPosition,
	const JListT::Position	newPosition,
	const JIndex			index,
	const bool				wasAtLimit
	)
{
	if (this->AtBeginning())
	{
		itsRunIndex    = 1;
		itsOffsetInRun = 0;
	}
	else if (this->AtEnd())
	{
		itsRunIndex    = itsRunArray->GetRunCount()+1;
		itsOffsetInRun = 0;
	}
	else
	{
		const JCursorPosition cursorPosition = this->GetCursor();

		JIndex firstIndexInRun;
		bool found;
		if (wasAtLimit)
		{
			found = itsRunArray->FindRun(cursorPosition+1, &itsRunIndex, &firstIndexInRun);
		}
		else	// incremental
		{
			firstIndexInRun = origPosition - itsOffsetInRun + 1;
			found           = itsRunArray->IncrementalFindRun(
									origPosition+1, cursorPosition+1,
									&itsRunIndex, &firstIndexInRun);
		}
		assert( found );

		itsOffsetInRun = cursorPosition - firstIndexInRun + 1;

		if (itsOffsetInRun >= itsRunArray->GetRunLength(itsRunIndex))
		{
			itsRunIndex++;
			itsOffsetInRun = 0;
		}
	}
}

/******************************************************************************
 ListChanged (virtual protected)

	Respond to changes in itsRunArray.  We can't optimize anything because
	inserting and removing items can merge runs or split a run.  We have
	to ask our JRunArray what happened.

 ******************************************************************************/

template <class T>
void
JRunArrayIterator<T>::ListChanged
	(
	const JBroadcaster::Message& message
	)
{
	JListIterator<T>::ListChanged(message);

	if (message.Is(JListT::kGoingAway))
	{
		itsRunArray    = nullptr;
		itsRunIndex    = 0;
		itsOffsetInRun = 0;
	}
	else if (!itsIgnoreListChangedFlag)
	{
		const JCursorPosition p = this->GetCursor();

		if (p == 0)
		{
			itsRunIndex    = 1;
			itsOffsetInRun = 0;
		}
		else if (p >= itsRunArray->GetItemCount())
		{
			itsRunIndex    = itsRunArray->GetRunCount()+1;
			itsOffsetInRun = 0;
		}
		else
		{
			JIndex firstIndexInRun;
			const bool found = itsRunArray->FindRun(p+1, &itsRunIndex, &firstIndexInRun);
			assert( found );

			itsOffsetInRun = p - firstIndexInRun + 1;

			if (itsOffsetInRun >= itsRunArray->GetRunLength(itsRunIndex))
			{
				itsRunIndex++;
				itsOffsetInRun = 0;
			}
		}
	}
}

#endif
