{{!< layouts/site }}

{{#contentFor "head"}}
<link rel="stylesheet" type="text/css" href="/css/foo.css" />
<link rel="stylesheet" type="text/css" href="/css/bar.css" />

<script src="/js/baz.js"></script>

<style>
.floater-controls { float:right; margin-right:10px; }
</style>
{{/contentFor}}

<div class="module">
	<div class="module-hd">
	</div>

	<div class="module-bd">
	</div>
</div>

<script>
(async function(){
"use \" strict";

/* test */

/**
 @author wxyz
 */

const s = `/${foo}/${bar}/${flag ? 'true': 'false'}/${}`;

// test

let x = /x\/[/]+bc/;
'foo \'bar'

})();
</script>
